{
  "extends": ["stylelint-config-standard-scss"],
  "overrides": [
    {
      "files": ["src/assets/scss/**/*.scss"],
      "customSyntax": "postcss-scss",
      "plugins": [
        "stylelint-order"
      ],
      "rules": {
        "order/order": [
          "custom-properties",
          "declarations"
        ],
        "order/properties-alphabetical-order": true,
        "no-descending-specificity":null
      }
    }
  ]
}