@use './../helpers/mixins' as mix;

:root {
	--login-button-bg-color: linear-gradient(45deg, deeppink, pink);
	--register-button-bg-color: linear-gradient(45deg, darkblue, steelblue);
}

.home {
	background-attachment: fixed;
	background-color: var(--default-bg-color);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}

.home-title-section {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: flex-start;
	margin-bottom: 50px;
	padding: 0 10px;
	text-align: center;

	.home-title {
		color: var(--default-fg-color);
		font-family: "Playfair Display", sans-serif;
		font-size: 36px;
		margin-top: 100px;
		text-align: center;
	}

	.home-intro {
		color: var(--default-fg-color);
		font-family: "Open Sans", sans-serif;
		font-size: 28px;
		font-weight: medium;
		margin-top: 15px;
		text-align: center;
	}

	.home-button-section {
		height: 125px;
		max-width: 500px;
		width: 100%;

		@include mix.add-flex(center, space-evenly);

		.home-button {
			backdrop-filter: blur(2px);
			background: none;
			border: none;
			border-radius: 50px;
			box-shadow: 0 0 5px var(--default-fg-color);
			font-size: 20px;
			padding: 10px;
			position: relative;
			transition: box-shadow, 200ms ease-out;
			width: 150px;
			z-index: 1;

			&::after {
				border: none;
				border-radius: 50px;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: -1;
			}

			&:hover {
				box-shadow: 0 0 15px var(--default-fg-color);
				transition: box-shadow, 200ms ease-out;
			}

			a {
				color: white;
				text-decoration: none;
			}
		}

		.home-login-button::after {
			background:var(--login-button-bg-color);
		}

		.home-register-button::after {
			background:var(--register-button-bg-color);
		}
	}
}

.features {
	align-items: center;
	column-gap: 150px;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: auto;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, minmax(300px));
	justify-content: space-between;
	padding: 10px;
	row-gap: 10px;
	transition: column-gap 200ms ease-out;
	width: 100%;
}

.get-started {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 25px;
	padding: 10px;
	position: relative;
	
}

.get-started-tooltip {
	background-color: rgb(0 0 0 / 85%);
	border-radius: 5px;
	color: whitesmoke;
	font-family: "Open Sans", sans-serif;
	left: 50%;
	padding: 5px;
	position: absolute;
	text-align: center;
	top: 135px;
	transform: translate(-50%, -50%);
	transition: visibility 200ms ease-in-out;
	visibility: hidden;
	width: 150px;
}

.home-get-started {
	align-items: center;
	background-color: var(--default-bg-color);
	border-radius: 50%;
	color: var(--default-fg-color);
	display: flex;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	height: 100px;
	justify-content: center;
	padding: 10px;
	text-decoration: none;
	transition:visibility, transform, background-color, color, box-shadow, 100ms ease-out;
	width: 100px;

	&:hover  {
		background-color: var(--default-fg-color);
		box-shadow: 0 0 10px var(--default-fg-color);
		color: var(--default-bg-color);
		transform: scale(1.05);
		transition:transform, background-color, color, box-shadow, 200ms ease-out;

	}

	&:hover + .get-started-tooltip {
		transition: visibility 200ms ease-in-out;
		visibility: visible;
	}

	.get-started-icon {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

@media (width <= 800px) {
	.features {
		column-gap: 10px;
		transition: column-gap 200ms ease-out;
	}
}

@media (width <= 450px) {
	.features {
		grid-template-columns: 1fr;
	}

	.home-title-section {
		.home-title {
			font-size: 30px;
		}

		.home-intro {
			font-size: 18px;
		}
	}	
}

@media (width <= 350px) {
	.home-button-section {
		flex-direction: column!important;
	}
}