@use './../helpers/mixins' as mix;
:root {
	--profile-container-size: 175px;
}
.account {
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	@include mix.scrollbar(5px, gray, var(--accent-color-3), 10px);
	// @include mix.add-flex(center, center, column);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 20px;
	grid-template-rows: 200px 1fr;
	&-section {
		max-width: 600px;
		width: 100%;
	}
}

.account-profile-section {
	@include mix.add-flex(center, center);
}

.account-profile-container {
	border-radius: 50%;
	width: var(--profile-container-size);
	height: var(--profile-container-size);
	position: relative;

	img {
		width: var(--profile-container-size);
		height: var(--profile-container-size);
		object-fit: cover;
		border-radius: 50%;
	}
}

.profile-picture-input {
	display: none;
}

.profile-picture-input-label {
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 50%;
	background-color: black;
	color: white;
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}