@use './../helpers/mixins' as mix;
.password {
	overflow: hidden;
	overflow-y: scroll;
	height: 100%;
	@include mix.add-flex(center, center);
	@include mix.scrollbar(5px);
	&-section {
		max-width: 600px;
		width: 100%;
	}
}