@use './../helpers/mixins' as mix;

.password {
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;

	@include mix.add-flex(center, center);
	@include mix.scrollbar(5px);

	&-section {
		max-width: 600px;
		width: 100%;
	}
}