.welcome {
	align-items: flex-start;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
}

.welcome-header-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}

.welcome-header {
	color:white;
	font-family: "Playfair Display", sans-serif;
	font-size: 36px;
	font-weight: lighter;
}

.welcome-daytime-logo-section {
	border-radius: 50%;
	height: 50px;
	object-fit: cover;
	width: 50px;
}

@media (width <= 800px) {
	.welcome-header {
		font-size: 24px;
	}
}

@media (width <= 600px) {
	.welcome-header {
		font-size: 20px;
	}
}