.welcome {
	height: 100%;
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.welcome-header-section {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.welcome-header {
	font-family: "Playfair Display";
	font-weight: lighter;
	font-size: 36px;
	color:white;
}

.welcome-daytime-logo-section {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

@media (max-width: 800px) {
	.welcome-header {
		font-size: 24px;
	}
}

@media (max-width: 600px) {
	.welcome-header {
		font-size: 20px;
	}
}