@use './../modules/welcome_card';
@use './../helpers/mixins' as mix;
.welcome {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 5px;
	padding: 5px;
}

.welcome-header-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}

.welcome-header {
	color:white;
	font-family: "Playfair Display", sans-serif;
	font-size: 36px;
	font-weight: lighter;
}

.welcome-daytime-logo-section {
	border-radius: 50%;
	height: 50px;
	object-fit: cover;
	width: 50px;
}

@media (max-width: 1000px) {
	.welcome {
		overflow: hidden;
		overflow-y: scroll;
		display: block;
		height: calc(100vh - 100px);
		@include mix.scrollbar(5px, var(--default-fg-color), var(--default-bg-color), 5px);
	}
}

@media (width <= 800px) {
	.welcome-header {
		font-size: 24px;
	}
}

@media (width <= 600px) {
	.welcome-header {
		font-size: 20px;
	}
}