@use './../helpers/mixins' as mix;

.motivational-quote-container {
    display: grid;
    font-family: "Roboto Sans", sans-serif;
    grid-template-columns: 1fr;
    width: 100%;

}

.motivation-card {
    &-author {
        color: var(--accent-color-5);
        font-size: large;
        font-weight: bolder;
        margin-right: 10px;
        text-align: right;
    }

    &-header {
        color: var(--accent-color-7);
        font-size: 18px;
        font-weight: lighter;
        margin-bottom: 10px;
    }
}