@use './../helpers/mixins' as mix;

.user-card-container {
    height: 100%;
    position: relative;
}

.user-card-greeting-header {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.user-card-greeting-link-section {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.user-card-greeting-link {
    @include mix.add-flex(center, center);

    color: var(--accent-color-4);
    font-family: "Montserrat Alternates", monospace;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-shadow: 0 0 5px var(--accent-color-4);
    }

    span {
        margin-left: 5px;
    }
}