@use './components/shared/global';
@use './components/shared/variables';
@use './components/shared/appbar';
@use './components/shared/navbar';
@use './components/shared/sidebar';
@use './components/shared/footer';
@use './components/shared/preview';

@use './components/views/about';
@use './components/views/workout';
@use './components/views/search';
@use './components/views/welcome';
@use './components/views/account';
@use './components/views/settings';

@use './components/pages/home';
@use './components/pages/login';
@use './components/pages/register';

@use './components/modules/feature_card';
@use './components/modules/input_field';

.container {
	height: 100%;
	display: grid;
	grid-gap: 5px;
	padding: 5px;
	grid-template-areas: 
		"app-navbar app-navbar"
		"app-preview app-sidebar"
		"app-footer app-footer"
	;
	grid-template-rows: 75px calc(100% - 80px) 125px;
	grid-template-columns: 1fr 250px;
}

@media (max-width: 800px) {
	.container {
		grid-template-areas: 
			"app-navbar app-navbar"
			"app-preview app-preview"
			"app-footer app-footer"
		;
	}
}