@mixin site-logo($name) {
	.#{$name}-header {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: inherit;
		width: 192.5px;
	}
	.#{$name}-header-logo {
		max-width: 45px;
		max-height: 45px;
		background-color: rgba(0,0,0,0.95);
		border-radius: 50%;
	}
	.#{$name}-header-title {
		font-size: 30px;
		margin-left: 5px;
		font-weight: bold;
		font-family: "Montserrat Alternates", sans-serif;
	}
}

@mixin profile-image($size) {
	width: $size;
	height: $size;
	object-fit: cover;
	border-radius: 50%;
}

@mixin add-flex($ai, $jc, $fd : row) {
	display: flex;
	align-items: $ai;
	justify-content: $jc;
	flex-direction: $fd;
}