@mixin site-logo($name) {
	.#{$name}-header {
		align-items: center;
		color: inherit;
		display: flex;
		text-decoration: none;
		width: 192.5px;
	}
	.#{$name}-header-logo {
		background-color: rgb(0 0 0 / 95%);
		border-radius: 50%;
		max-height: 45px;
		max-width: 45px;
	}
	.#{$name}-header-title {
		font-family: "Montserrat Alternates", sans-serif;
		font-size: 30px;
		font-weight: bold;
		margin-left: 5px;
	}
}

@mixin profile-image($size) {
	border-radius: 50%;
	height: $size;
	object-fit: cover;
	width: $size;
}

@mixin add-flex($ai, $jc, $fd : row) {
	align-items: $ai;
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
}

@mixin no-scrollbar {
	::-webkit-scrollbar {
		display: none;
	}
}

@mixin scrollbar($width: 15px, $bg-color:whitesmoke, $fg-color:darkgray, $rounded:0) {
	&::-webkit-scrollbar {
		background-color: $bg-color;
		border-radius: 10px;
		width: $width;

		&-thumb {
			background-color: $fg-color;
			border-radius: $rounded;

		}

		&-button {
			display: none;
		}
	}
}

@mixin custom-btn(
	$bg: var(--default-fg-color), 
	$fg: var(--default-bg-color), 
	$shadow-color: var(--default-fg-color) , 
	$shadow: 10px, 
	$width: 150px, 
	$br: 100px
){
	background: $bg;
	border: none;
	border-radius: $br;
	color: $fg;
	cursor: pointer;
	font-family: "Roboto Sans", sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	transition: box-shadow, 200ms ease-in-out;
	width: $width;

	&:hover {
		box-shadow: 0 0 $shadow $shadow-color;
		transition: box-shadow, 200ms ease-in-out;
	}
}