@use './../helpers/mixins' as mix;

.appbar {
	align-items: center;
	color: var(--default-fg-color);
	display: flex;
	grid-area: app-appbar;
	justify-content: space-between;
	left: 0;
	padding: 15px 10px;
	position: absolute;
	top: 0;
	width: 100%;

	@include mix.site-logo("appbar");
}

.appbar-body {
	align-items: center;
	display: flex;
	justify-content: space-between;

	&-profile {
		border-radius: 50%;
		box-shadow: 0 0 10px var(--default-fg-color);
		height: 45px;
		margin-left: 10px;
		object-fit: cover;
		width: 45px;
	}
}

@media (width <= 350px) {
	.appbar-body {
		&-theme {
			position: absolute;
			right: 5px;
			top: 70px;
			z-index: 0;
		}
	}
}