@use './../helpers/mixins' as mix;
@use './../shared/variables';

.form-container {
	color: var(--default-fg-color);
	padding: 10px;
	padding-top: 150px;
	width: 100%;

	@include mix.add-flex(center, center, column);

}

.form {
	border-radius: 10px;
	max-width: 600px;
	padding: 10px;
	width: 100%;

	&-header {
		font-size: 36px;
		margin-bottom: 15px;
		text-align: center;
	}

	&-body {
		@include mix.add-flex(center, center, column);
	}
}

.form-input {
	&-section {
		align-items: center;
		border: 1px solid var(--default-fg-color);
		border-radius: 10px;
		display: grid;
		grid-template-columns: 35px 1fr;
		grid-template-rows: 1fr;
		margin-bottom: 15px;
		padding: 5px;
		position: relative;
		width: 100%;
	}

	&-icon {
		font-size: 24px;

		@include mix.add-flex(center, center);
	}

	&-eye-icon {
		cursor: pointer;
		font-size: 24px;
		position: absolute;
		right: 10px;
		top: 11px;

		@include mix.add-flex(center, center);
	}

	&-field {
		background: none;
		border: none;
		color: var(--default-fg-color);
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		height: 35px;
		outline: none;
	}
}

.form-textarea {
	&-icon {
		font-size: 24px;
		height: 100%;
		padding-top: 10px;

		@include mix.add-flex(center, start, column);
	}

	&-field {
		background: none;
		border: none;
		color: var(--default-fg-color);
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		outline: none;
		padding-top: 10px;
		resize: none;

		@include mix.scrollbar(5px);
	}

	&-char-count {
		font-family: "Open Sans", sans-serif;
		font-size: small;
		position: absolute;
		right: 5px;
		top: 2.5px;
	}
}
.form-helper-section {
	width: 100%;
	@include mix.add-flex(center, flex-start);
}
.form-submit {
	&-section {
		@include mix.add-flex(center, center, column);

		&:nth-child(2){
			color: var(--accent-color-2);
		}
	}

	&-button {
		@include mix.custom-btn(linear-gradient(45deg, green, palegreen), white, palegreen, 15px, 150px);
	}

	&-link {
		font-weight: bold;
		margin-bottom: 5px;
		text-decoration: none;
		font-size: smaller;
		font-family: "Open Sans", sans-serif;
		color: yellowgreen;
	}
}

@media (width <= 600px){
	.form-header {
		font-size: 24px;
	}
}