@use './../helpers/mixins' as mix;
@use './../shared/variables';

.form-container {
	padding: 10px;
	padding-top: 150px;
	@include mix.add-flex(center, center, column);
	color: var(--default-fg-color);
	width: 100%;

}
.form {
	max-width: 600px;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	&-header {
		text-align: center;
		font-size: 36px;
		margin-bottom: 15px;
	}
	&-body {
		@include mix.add-flex(center, center, column);
	}
}
.form-input {
	&-section {
		display: grid;
		width: 100%;
		align-items: center;
		grid-template-columns: 35px 1fr;
		grid-template-rows: 1fr;
		padding: 5px;
		border-radius: 10px;
		margin-bottom: 15px;
		border: 1px solid var(--default-fg-color);
		position: relative;
	}
	&-icon {
		font-size: 24px;
		@include mix.add-flex(center, center);
	}
	&-eye-icon {
		font-size: 24px;
		@include mix.add-flex(center, center);
		position: absolute;
		right: 10px;
		top: 11px;
		cursor: pointer;
	}
	&-field {
		height: 35px;
		background: none;
		outline: none;
		color: var(--default-fg-color);
		border: none;
		font-size: 18px;
		font-family: "Open Sans", sans-serif;
	}
}
.form-textarea {
	&-icon {
		font-size: 24px;
		height: 100%;
		padding-top: 10px;
		@include mix.add-flex(center, start, column);
	}
	&-field {
		resize: none;
		background: none;
		outline: none;
		padding-top: 10px;
		color: var(--default-fg-color);
		border: none;
		font-size: 18px;
		font-family: "Open Sans", sans-serif;
		@include mix.scrollbar(5px);
	}
	&-char-count {
		position: absolute;
		right: 5px;
		top: 2.5px;
	}
}
.form-submit {
	&-section {
		@include mix.add-flex(center, center, column);
		&:nth-child(2){
			color: var(--accent-color-2);
		}
	}
	&-button {
		border: none;
		outline: none;
		color: whitesmoke;
		padding: 10px;
		font-size: 20px;
		width: 150px;
		font-family: "Roboto Sans", sans-serif;
		border-radius: 100px;
		background: var(--login-button-bg-color);
		margin-bottom: 10px;
		transition: box-shadow, 200ms ease-in-out;
		cursor: pointer;
		&:hover {
			transition: box-shadow, 200ms ease-in-out;
			box-shadow: 0 0 15px hotpink;
		}
	}
	&-link {
		font-weight: bold;
		margin-bottom: 5px;
	}
}

@media (max-width: 600px){
	.form-header {
		font-size: 24px;
	}
}