@use './../helpers/mixins' as mix;

.sidebar {
	align-items: center;
	background-color: var(--default-bg-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	grid-area: app-sidebar;
	justify-content: space-between;
	max-width: 250px;
	overflow-y: hidden;
	padding: 10px;
	transition: width, padding, 100ms ease-in;
	width: 250px;
	z-index: 10;
}

.hide-sidebar {
	border: none !important;
	padding: 10px 0;
	transition: border, width, padding, 100ms ease-in;
	width: 0;
}

.active-sidebar-link {
	background-color: var(--default-fg-color) !important;
	color: var(--default-bg-color) !important;
	font-weight: bold !important;
	transition: background-color, color, 100ms ease-in-out;
}

.sidebar-list {
	height: 100%;
	list-style: none;
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	width: 100%;

	&::-webkit-scrollbar {
		display: none;
		width: 5px;
	}
}

.sidebar-list-item a {
	background-color: rgb(0 0 0 / 50%);
	border-radius: 10px;
	color: white;
	font-size: 18px;
	font-weight: lighter;
	height: 100%;
	margin-bottom: 5px;
	padding: 10px;
	text-decoration: none;
	transition: background-color, color, 100ms ease-in-out;
	width: 100%;

	@include mix.add-flex(center, flex-start);

	&:hover {
		background-color: var(--default-fg-color) !important;
		color: var(--default-bg-color) !important;
		font-weight: bold !important;
		transition: background-color, color, 100ms ease-in-out;
	}

	p {
		font-family: "Open Sans", sans-serif;
		margin: 0;
		margin-left: 5px;
	}
}

.sidebar-list-item-form {
	@include mix.add-flex(center, center);

	button {
		background: none;
		background-color: rgb(0 0 0 / 50%);
		border: none;
		border-radius: 10px;
		color: white;
		cursor: pointer;
		display: grid;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		font-weight: lighter;
		grid-template-columns: 28px 1fr;
		height: 100%;
		outline: none;
		padding: 10px;
		text-decoration: none;
		transition: background-color, color, 100ms ease-in-out;
		width: 100%;

		&:hover {
			background-color: var(--default-fg-color) !important;
			color: var(--default-bg-color) !important;
			font-weight: bold !important;
			transition: background-color, color, 100ms ease-in-out;
		}

		p {
			margin: 0;
			text-align: left;
			vertical-align: middle;
		}
	}
}

.sidebar-profile {
	padding-top: 10px;
	width: 100%;
}

.sidebar-profile-item {
	align-items: center;
	background-color: var(--default-bg-color);
	border-radius: 10px;
	color: var(--default-fg-color);
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 10px;

	&:nth-child(1) {
		margin-bottom: 5px;
	}

	img {
		border-radius: 50%;
		height: 45px;
		object-fit: cover;
		width: 45px;
	}
}

.sidebar-profile-item-detail {
	@include mix.add-flex(flex-start, center, column);

	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	margin: 0;

	p {
		margin-bottom: 2.5px;
	}
}

@media (width <= 800px) {
	.sidebar {
		height: calc(100% - 90px);
		position: absolute;
		right: 5px;
		top: 85px;
	}
}

@media (width <= 400px) {
	.sidebar-profile-item-detail {
		font-size: 14px;
	}
}