@use './../helpers/mixins' as mix;

.appbar {
	grid-area: app-appbar;
	color: var(--default-fg-color);
	padding: 15px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include mix.site-logo("appbar");
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}
.appbar-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&-profile {
		box-shadow: 0 0 10px var(--default-fg-color);
		margin-left: 10px;
		width: 45px;
		height: 45px;
		object-fit: cover;
		border-radius: 50%;
	}
}
@media (max-width: 350px) {
	.appbar-body {
		&-theme {
			position: absolute;
			right: 8px;
			top: 70px;
			z-index: 0;
		}
	}
}