.navbar {
	grid-area: app-navbar;
	background-color: var(--default-bg-color);
	color: var(--default-fg-color);
	padding: 15px 10px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	justify-content: space-between;
}
.navbar-header {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}
.navbar-header-logo {
	max-width: 45px;
	max-height: 45px;
}
.navbar-header-title {

	font-size: 30px;
	font-weight: lighter;
	font-family: "Montserrat Alternates", sans-serif;

}
.navbar-toggle-button {
	background: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid var(--default-fg-color);
	transition: box-shadow, 100ms ease-in-out;
	&:hover {
		box-shadow: 0 0 5px var(--default-fg-color);
		transition: box-shadow, 100ms ease-in-out;
	}
}