.home {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: var(--default-bg-color);
}
.home-title-section {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 500px;

	.home-title {
		margin-top: 100px;
		font-size: 36px;
		font-family: "Montserrat Alternates", sans-serif;
		color: var(--default-fg-color);
	}
}
.features {
	width: 100%;
	display: grid;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	row-gap: 10px;
	column-gap: 150px;
	grid-template-columns: repeat(2, 1fr);
	transition: column-gap 200ms ease-out;
}
.feature-box {
	background: linear-gradient(45deg ,var(--accent-color-3), var(--accent-color-2));
	color: var(--default-fg-color);
	border-radius: 10px;
	height: 200px;
}
.get-started {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	
}
.get-started-tooltip {
	position: absolute;
	text-align: center;
	top: 135px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	visibility: hidden;
	padding: 5px;
	border-radius: 5px;
	font-family: "Open Sans", sans-serif;
	background-color: rgba(0,0,0,0.85);
	color: whitesmoke;
	transition: visibility 300ms ease-in-out;

}
.home-get-started {
	display: flex;
	padding: 10px;
	height: 100px;
	width: 100px;
	text-decoration: none;
	border-radius: 50%;
	background-color: var(--default-bg-color);
	color: var(--default-fg-color);
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	align-items: center;
	justify-content: center;

	transition:visibility, transform, background-color, color, box-shadow, 300ms ease-out;
	&:hover  {
		background-color: var(--default-fg-color);
		color: var(--default-bg-color);
		box-shadow: 0 0 10px var(--default-fg-color);
		transition:transform, background-color, color, box-shadow, 200ms ease-out;
		transform: scale(1.05);

	}
	&:hover + .get-started-tooltip {
		visibility: visible;
		transition: visibility 200ms ease-in-out;
	}
	.get-started-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 500px) {
	.features {
		column-gap: 10px;
		transition: column-gap 200ms ease-out;
	}
}
@media (max-width: 450px) {
	.features {
		grid-template-columns: 1fr;
	}
}