.feature-card {
	border-radius: 10px;
	color: var(--default-fg-color);
	height: 100%;
	padding: 10px;
	position: relative;
	transform: translateY(0);
	transition: transform 200ms ease-out;
	user-select: none;
	z-index: 1;

	&::after {
		backdrop-filter: blur(2px);
		background: var(--default-bg-color);
		border-radius: 10px;
		box-shadow: 0 0 5px var(--default-bg-color);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;

	}

	&:hover {
		transform: translateY(-5px);
		transition: transform 200ms ease-out;
	}
}

.feature-card {
	&-header {
		align-items: center;
		display: grid;
		grid-gap: 5px;
		grid-template-columns: 30px 1fr;
		margin-bottom: 10px;

		&-icon {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		&-title {
			color: var(--default-fg-color);
			font-family: Roboto, sans-serif;
			letter-spacing: 0.5px;
		}
	}

	&-body {
		&-content {
			font-family: "Open Sans";
			font-size: 16px;
		}
	}
}